<!-- <div>
  {{ appState$ | async | json }}
</div> -->

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Print Report</button>
            <a href="#" class="btn btn-success" data-toggle="modal">
              <i class="material-icons">&#xE147;</i>
              <span>New Server</span>
            </a>
            <span>
              <select title="status" name="status" class="btn btn-info" id="sdf">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER_UP</option>
                <option value="SERVER_DOWN">SERVER_DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <br />
      <ng-container
        *ngIf="appState$ | async as appState"
        [ngSwitch]="appState.dataState"
      >
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-stripped table-hover" id="servers">
            <thead>
              <tr>
                <th>ID</th>
                <th>Ip Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let server of appState.appData.data.servers;let i=index;trackBy:customTB" >
              <tr>
                <td>{{server.id}}</td>
                <td>{{server.ipAddress}}</td>
                <td>{{server.name}}</td>
                <td>{{server.memory}}</td>
                <td>{{server.type}}</td>
                <td><span class="badge" [ngClass]="[server.status === Status.SERVER_UP ? 'badge-success' : 'badge-danger']">{{server.status}}</span></td>
                <td><a (click)="pingServer(server.ipAddress)" href="#">
                  <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ |async) !== server.ipAddress" class="material-icons" title="Ping server">&#xe328;</i>
                  <i *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-spinner fa-spin" style="font-size: 24px;"></i>
                </a></td>
                <td>action</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">error</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
